<%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post, class: 'form-login'}) do |f| %>
    <h2 class='form-login-heading'><%= t('.forgot_your_password') %></h2>
    <div class='login-wrap'>

      <%= devise_error_messages! %>

      <%= f.email_field :email, autofocus: true %>

      <%= render partial: 'shared/forms/actions', locals: {f: f, text: t('.send_me_reset_password_instructions'), extra_class: 'btn-block'} %>

    </div>
<% end %>

<div class='registration'>
  <%= render 'devise/shared/links' %>
</div>
