<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @poole_app_form.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @poole_app_form.user %>
</p>

<%= link_to 'Edit', edit_poole_app_form_path(@poole_app_form) %> |
<%= link_to 'Back', poole_app_forms_path %>
