<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-login'}) do |f| %>
    <h2 class="form-login-heading"><%= t('.sign_in_now') %></h2>
    <div class="login-wrap">
      <%= f.email_field :email, class: 'form-control', wrapper_class: 'float-label-wrapper', placeholder: t('activerecord.attributes.user.email'), autofocus: true %>
      <%= f.password_field :password, class: 'form-control', wrapper_class: 'float-label-wrapper', placeholder: t('activerecord.attributes.user.password'), autocomplete: 'off' %>

      <div class="row">
        <div class="col-xs-6">
          <% if devise_mapping.rememberable? -%>
              <%= f.check_box :remember_me %>
          <% end -%>
        </div>

        <div class="col-xs-6">
          <div class="checkbox">
        <span class="pull-right">
          <%= render partial: 'devise/shared/link_forgot_password' %>
        </span>
          </div>
        </div>
      </div>

      <%= render partial: 'shared/forms/actions', locals: {f: f, text: ('<i class="fa fa-lock"></i> '+ t('.sign_in')).html_safe, extra_class: 'btn-block'} %>

    </div>
<% end %>

<div class="registration">
  <p><%= t('.dont_have_account_yet') %>  <%= render 'devise/shared/links' %></p>
</div>
